<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JobGoblin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
  <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.5/what-input.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
</head>
<body>
<div id="header-bar">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">JobGoblin</li>
        <li><a href="/">Home</a></li>
        <li><a href="/jobs/search">Browse Job Postings</a></li>
        <li><a href="/jobs/create">Submit Job Posting</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="is-not-logged-in dropdown menu">
        <li><a href="/signin">Log In</a></li>
        <li><a href="/create">Sign Up</a></li>
      </ul>
      <ul class="is-logged-in nodisplay dropdown menu">
        <li><a href="/profile">My Profile</a></li>
        <li><a id="log-out-btn">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="content">
  {% block body %}
  
  {% endblock %}
  <script>
    $(document).foundation();
    // Get a cookie by name, or null if it doesn't exist
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }
    var delete_cookie = function(name) {
      document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
    }
    // if (getCookie("authToken") == undefined) {
    //   document.cookie = "authToken="
    // }
    var token = getCookie("authToken")
    if (token && token.length > 0) {
      $(".is-logged-in").toggleClass("nodisplay", false);
      $(".is-not-logged-in").toggleClass("nodisplay", true);
    }
    else {
      $(".is-not-logged-in").toggleClass("nodisplay", false);
      $(".is-logged-in").toggleClass("nodisplay", true);
    }
    $("#log-out-btn").click(function() {
      var token = getCookie("authToken");
      if (token.length > 0) {
        $.ajax({
          type: "POST",
          url: "/logout",
          headers: {
            "Authorization": "Basic " + getCookie("authToken")
          }
        }).done(function() {
          delete_cookie("authToken")
          //document.cookie = "authToken="
          window.location = "/"
          //document.cookie = "authToken=";
        }).fail(function(result, statusCode) {
          delete_cookie("authToken")
          console.log("logout failed: " + result);
        });
      }
    });

  </script>
  {% block postscripts %}

  {% endblock %}
</div>
</body>
</html>
