body {
    width:100%;
}

#header-bar {
    width: 100%;
    background-color: #e6e6e6;
    margin-bottom: 30px;
}

.top-bar {
    max-width:1280px;
    margin: 0 auto;
}

#content {
    max-width:1280px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.experience-entry, .job-entry {
    padding-top: 10px;
    padding-bottom: 10px;
}

.grayback {
    background-color: lightgray;
}

.nodisplay {
    display: none;
}

.relative {
    position: relative;
}

.error-msg {
    color: red;
}

.delete-filter {
    color:red;
}

.job-delete, .delete-experience-btn {
    color:red;
    font-size: 16pt;
}

.form-input-error {
    border-color: red;
}

.success-text {
    color: green;
    font-weight: bold;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.fail-text {
    color: red;
}
