{% if applications|length == 0 %}
<div class="medium-offset-1 medium-11 cells">
  <h3>No application submitted for this job</h3>
</div>
{% else %}
<div class="medium-offset-1 medium-11 cells">
  <h3>Applications</h3>
</div>
{% endif %}
{% for app in applications %}
  {% if loop.index0 % 2 == 1 %}
  <div class="medium-offset-1 medium-9 cells grid-x grayback">
  {% else %}
  <div class="medium-offset-1 medium-9 cells grid-x">
  {% endif %}
    <div class="medium-11 cells grid-x application-entry">
      <div class="medium-11 cells">
        {{ app.name }} - {{ app.email }}
        <br />
        Phone: {{ app.phone or "not provided" }}
        <br />
      </div>
      <div class="medium-10 cells">
        Biography: {{ app.biography or "not provided" }}
      </div>
      <div class="medium-11 cells">
        Website: {{ app.website or "not provided" }}
        <br />
        Skills: {{ app.skills|join(", ") }}
      </div>
      <div class="medium-10 cells">
        Cover Letter: {{ app.cover_letter or "not provided" }}
      </div>
      <div class="medium-10 cells">
        <a class="button generate-resume-btn" job-id={{ jobId }} user_id={{ app.user_id }} href="/jobs/{{ jobId }}/generate_resume/{{ app.user_id }}" target="_blank">View Resume</a>
      </div>
    </div>
  </div>
{% endfor %}