{% extends "partials/frame.html" %}
{% block body %}
<form action="#" id="createAcctForm">
  <div class="grid-x">
    <h1 class="medium-offset-1 medium-8 cell"> Create an Account</h1>
    <div class="medium-7 medium-offset-1 cell">
      <label>
        <input class="form-input name-input" type="text" placeholder="Name">
      </label>
    </div>
    <div class="error-msg name-error medium-3 medium-offset-1 cell"></div>
    <div class="medium-7 medium-offset-1 cell">
      <label>
        <input class="form-input email-input" type="text" placeholder="E-mail">
      </label>
    </div>
    <div class="error-msg email-error medium-3 medium-offset-1 cell"></div>
    <div class="medium-7 medium-offset-1 cell">
      <label>
        <input class="form-input pw-input" type="password" placeholder="Password">
      </label>
    </div>
    <div class="error-msg pw-error medium-3 medium-offset-1 cell"></div>
    <div class="medium-7 medium-offset-1 cell">
      <label>
        <input class="form-input pw-input" type="password" placeholder="Retype Password">
      </label>
    </div>
    <div class="error-msg pw-error medium-3 medium-offset-1 cell"></div>
    <div class="medium-8 medium-offset-1 cell">
      <button class="button" type="submit">Submit</button>
      <div class="relative">
        <div class="success-text" id="submit-success"></div>
      </div>
    </div>
  </div>
</form>


<script type="text/javascript">
  $("#createAcctForm").submit(function(e) {
    e.preventDefault();
    $(".form-input").toggleClass("form-input-error", false);
    $(".error-msg").text("");
    console.log("Clicked");
    var name = $(".name-input").first().val()
    var email = $(".email-input").first().val()
    var pass = $(".pw-input").first().val()
    if (pass != $(".pw-input:eq(1)").val()) {
      console.log("passwords don't match");
      $(".pw-input").toggleClass("form-input-error", true);
      $(".pw-error").text("Passwords don't match");
      return;
    }
    data = {
      email: email,
      password: pass,
      name: name
    }
    console.log(data);
    $.post("/users", JSON.stringify(data))
    .done(function(result, statusCode) {
      console.log("Created Account");
      $(".form-input").toggleClass("form-input-error", false);
      $(".error-msg").text("");
      $("#submit-success").text("Account created! Please log in");
    })
    .fail(function(result, statusCode, error) {
      console.log(result);
      console.log(statusCode);
      console.log(error);
      if (error == "CONFLICT") {
        $(".email-input").toggleClass("form-input-error", true);
        $(".email-error").first().text("Email exists");
        console.log("Email exists");
      }
    });
  });
</script>
{% endblock %}
