{% extends "partials/frame.html" %}
{% block body %}
<form action="#" id="createJobForm">
  <div class="grid-x">
    <h1 class="medium-offset-1 medium-8 cell">Create New Job Posting</h1>
    <div class="medium-7 medium-offset-1 cell">
      <span>Title</span>
      <label>
        <input class="form-input title-input" type="text" placeholder="Title">
      </label>
    </div>
    <div class="error-msg title-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Description</span>
      <label>
        <textarea class="form-input description-input" type="text" placeholder="Title"></textarea>
      </label>
    </div>
    <div class="error-msg title-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Organization</span>
      <label>
        <input class="form-input organization-input" type="text" placeholder="Title">
      </label>
    </div>
    <div class="error-msg title-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Salary</span>
      <label>
        <input class="form-input salary-input" type="text" placeholder="Title">
      </label>
    </div>
    <div class="error-msg title-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Rate</span>
      <label>
        <input class="form-input rate-input" type="text" placeholder="Title">
      </label>
    </div>
    <div class="error-msg title-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Location</span>
      <label>
        <input class="form-input location-input" type="text" placeholder="Title">
      </label>
    </div>
    <div class="error-msg title-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Tags</span>
      <label>
        <input class="form-input tags-input" type="text" placeholder="Title">
      </label>
    </div>
    <div class="error-msg title-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-8 medium-offset-1 cell">
      <button class="button" type="submit">Submit</button>
      <div class="relative">
        <div class="success-text" id="submit-success"></div>
        <div class="fail-text" id="submit-fail"></div>
      </div>
    </div> 
  </div>
</form>

<script type="text/javascript">
  $("#createJobForm").submit(function(e){
    e.preventDefault();
    $("#submit-success").text("")
    $("#submit-fail").text("")
    data = {}
    title = $(".title-input").first().val()
    description = $(".description-input").first().val()
    organization = $(".organization-input").first().val()
    salary = parseInt($(".salary-input").first().val())
    rate = parseFloat($(".rate-input").first().val())
    job_location = $(".location-input").first().val()
    tags = $(".tags-input").first().val()
    if (title.length == 0) {
      $("#submit-fail").text("Job title cannot be empty");
      return;
    }
    data["title"] = title
    if (description.length > 0) {
      data["description"] = description
    }
    if (organization.length > 0) {
      data["organization"] = organization
    }
    if (salary) {
      data["salary"] = salary
    }
    if (rate) {
      data["rate"] = rate
    }
    if (job_location.length > 0) {
      data["location"] = job_location
    }
    if (tags.length > 0) {
      data["tags"] = tags.split(",")
    }
    $.ajax({
      type: "POST",
      url: "/jobs",
      dataType: "json",
      data: JSON.stringify(data),
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#submit-success").text("Job posted!")
    }).fail(function(result, statusCode, error) {
      $("#submit-fail").text("Could not post job - Please log off and back on")
    })
  })
</script>
{% endblock %}