{% if educationList|length == 0 %}
<div class="medium-offset-1 medium-11 cells">
  No education submitted
</div>
{% endif %}
{% for education in educationList %}
  {% if loop.index0 % 2 == 1 %}
  <div class="medium-offset-1 medium-9 cells grid-x grayback">
  {% else %}
  <div class="medium-offset-1 medium-9 cells grid-x">
  {% endif %}
    <div class="medium-11 cells grid-x education-entry">
      <div class="medium-11 cells">
        {{ education.school_name }}
        <br />
        {{ education.level }}
        in
        {{ education.major }}
        <br />
        GPA: {{education.gpa}}
      </div>
    </div>
  </div>
{% endfor %}