{% if experienceList|length == 0 %}
<div class="medium-offset-1 medium-11 cells">
  No experiences submitted
</div>
{% endif %}
{% for experience in experienceList %}
  {% if loop.index0 % 2 == 1 %}
  <div class="medium-offset-1 medium-9 cells grid-x grayback">
  {% else %}
  <div class="medium-offset-1 medium-9 cells grid-x">
  {% endif %}
    <div class="medium-11 cells grid-x experience-entry">
      <div class="medium-11 cells">
        {{ experience.title }} - {{ experience.organization }} @ {{ experience.location}}
        <a class="update-experience-btn" experience-id={{ experience.id }}>
          Edit
        </a>
      </div>
      <div class="medium-offset-1 medium-10 cells">
        {{ experience.description }}
      </div>
      <div class="medium-12 cells">
        Tags: {{ experience.skills|join(", ") or "None"}}
      </div>
    </div>
    <div class="medium-1 cells">
      <a class="delete-experience-btn" experience-id={{ experience.id }}>
        X
      </a>
    </div>
  </div>
{% endfor %}