{% extends "partials/frame.html" %}
{% block body %}
<div class="center">
  <h1>Welcome to JobGoblin!</h1>
  {% if loggedin == true %}
    <h3>You're already logged in. Why not browse some <a href="/jobs/search">job postings</a>?</h3>
  {% else %}
    <h3>Please <a href="/signin">log in</a> or <a href="/create">sign up</a> to continue.</h3>
  {% endif %}
</div>
{% endblock %}
