{% for job in jobList %}
  <div class="grid-x job-entry">
    <div class="medium-offset-1 medium-11 cell">
      <b>{{ job.title }}</b> at {{ job.organization}}
      <a class="apply-for-job-btn" job-id={{ job.id }}>Apply</a>
      <br>
      Location: <i>{{ job.location }}</i>
    </div>
    <div class="medium-offset-1 medium-3 cell">
      <div class="grid-x">
        <div class="medium-12 cell">
          Salary: {{ job.salary }}
        </div>
        <div class="medium-12 cell">
          Rate: {{ job.rate }}
        </div>
      </div>
    </div>
    <div class="medium-8 cell">
      {{ job.description }}
    </div>
    <div class="medium-offset-1 medium-11 cell">
      Tags: {{ job.skills|join(", ")}}
    </div>
  </div>
  <br><br>
{% endfor %}