{% extends "partials/frame.html" %}
{% block body %}
<form action="#" id="createAcctForm">
  <div class="grid-x">
    <h1 class="medium-offset-1 medium-8 cell">Log In</h1>
    <div class="medium-7 medium-offset-1 cell">
      <label>
        <input class="form-input email-input" type="text" placeholder="E-mail">
      </label>
    </div>
    <div class="error-msg email-error medium-3 medium-offset-1 cell"></div>
    <div class="medium-7 medium-offset-1 cell">
      <label>
        <input class="form-input pw-input" type="password" placeholder="Password">
      </label>
    </div>
    <div class="error-msg pw-error medium-3 medium-offset-1 cell"></div>
    <div class="medium-8 medium-offset-1 cell">
      <button class="button" type="submit">Submit</button>
      <div class="relative">
        <div class="success-text" id="submit-success"></div>
      </div>
    </div>
  </div>
</form>


<script type="text/javascript">
  $("#createAcctForm").submit(function(e) {
    e.preventDefault();
    $(".form-input").toggleClass("form-input-error", false);
    $(".error-msg").text("");
    console.log("Clicked");
    var email = $(".email-input").first().val()
    var pass = $(".pw-input").first().val()
    $.ajax({
      type:"POST",
      url: "/login",
      headers: {
        "Authorization": "Basic " + btoa(email + ":" + pass)
      }
    }).done(function(result, statusCode) {
      $(".form-input").toggleClass("form-input-error", false);
      $(".error-msg").text("");
      $("#submit-success").text("Login successful!");
      console.log(result);
      delete_cookie("authToken")
      document.cookie = "authToken=" + btoa(email + ":" + result.token) + ";path=/";
      window.location = "/"
    }).fail(function(result, statusCode, error) {
      console.log(result);
      console.log(statusCode);
      console.log(error);
      if (error == "FORBIDDEN") {
        $(".form-input").toggleClass("form-input-error", true);
        $(".email-error").first().text("Email or password incorrect");
        console.log("");
      }
    });
  });
</script>
{% endblock %}
