{% extends "partials/frame.html" %}
{% block body %}
<form action="#" id="updateProfileForm">
  <div class="grid-x">
    <h1 class="medium-offset-1 medium-8 cell">Edit Profile</h1>
    <div class="medium-7 medium-offset-1 cell">
      <span>Email:</span>
      <label>
        <input class="form-input email-input" type="text" placeholder="E-mail" value="{{ data.email }}">
      </label>
    </div>
    <div class="error-msg email-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Name:</span>
      <label>
        <input class="form-input name-input" type="text" placeholder="Name" value="{{ data.name }}">
      </label>
    </div>
    <div class="error-msg name-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Phone Number</span>
      <label>
        <input class="form-input phone-input" type="text" placeholder="Phone" value="{{ data.phone or '' }}">
      </label>
    </div>
    <div class="error-msg name-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Website</span>
      <label>
        <input class="form-input website-input" type="text" placeholder="Website" value="{{ data.website or '' }}">
      </label>
    </div>
    <div class="error-msg name-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Biography</span>
      <label>
        <textarea class="form-input bio-input" type="text" placeholder="Biography">{{ data.biography or '' }}</textarea>
      </label>
    </div>
    <div class="error-msg name-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-7 medium-offset-1 cell">
      <span>Skills</span>
      <label>
        <input class="form-input skills-input" type="text" placeholder="Skills" value="{{ data.skills|join(',') }}">
      </label>
    </div>
    <div class="error-msg name-error medium-3 medium-offset-1 cell"></div>

    <div class="medium-8 medium-offset-1 cell">
      <button class="button" type="submit">Submit</button>
      <div class="relative">
        <div class="success-text" id="submit-success"></div>
        <div class="fail-text" id="submit-fail"></div>
      </div>
    </div> 
  </div>
</form>

<div class="grid-x">
  <div class="medium-offset-1 medium-8 cells">
    <h2>My Education</h2>
  </div>
  <div class="medium-3 cells">
    <button class="button" id="add-education-btn" data-open="add-education-modal">+Add</button>
  </div>
  <div class="medium-12 cells grid-x" id="education-list"></div>
</div>

<br />

<div class="grid-x">
  <div class="medium-offset-1 medium-8 cells">
    <h2>My Experiences</h2>
  </div>
  <div class="medium-3 cells">
    <button class="button" id="add-experience-btn" data-open="add-experience-modal">+Add</button>
  </div>
  <div class="medium-12 cells grid-x" id="experience-list">
  </div>
</div>

<br />

<div class="grid-x">
  <div class="medium-offset-1 medium-8 cells">
    <h2>My Jobs</h2>
  </div>
  <div class="medium-3 cells">
    <a class="button" href="/jobs/create">+Add</a>
  </div>
  {% if jobs|length == 0 %}
    <div class="medium-offset-1 medium-11 cells">
      You have no job postings.
    </div>
  {% endif %}
  {% for job in jobs %}
  {% if loop.index0 % 2 == 1 %}
    <div class="medium-offset-1 medium-9 cells grid-x job-entry grayback">
  {% else %}
    <div class="medium-offset-1 medium-9 cells job-entry grid-x">
  {% endif %}
      <div class="medium-11 cells">
        <div class="grid-x">
          <div class="medium-10 cells">
            {{ job.title }} @ {{ job.location }}
            <a href="/applications/{{ job.id }}">View Applications</a>
          </div>
          <div class="medium-10 cells">
            Description: {{ job.description }}
          </div>
          <div class="medium-10 cells">
            Salary: {{ job.salary }}
            <br/>
            Rate: {{ job.rate }}
          </div>
          <div class="medium-10 cells">
            Tags: {{ job.tags|join(", ")}}
          </div>
        </div>
      </div>
      <div jobcontained="{{ job.id }}" class="medium-1 cells">
        <a job-id="{{ job.id }}" class="job-delete">X</a>
      </div>
    </div>
  {% endfor %}

  <!-- Modal for adding education -->
  <div class="reveal" id="add-education-modal" data-reveal>
    <div class="grid-x">
      <div class="medium-12 cells">
        <h3>Add Education</h3>
      </div>
      <form class="grid-x" action="#" id="add-education-form">
        <div class="medium-12 cells">
          <span>School Name</span>
          <label>
            <input class="form-input education-name" type="text" placeholder="School Name">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Level</span>
          <label>
            <input class="form-input education-level" type="text" placeholder="Level">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>GPA</span>
          <label>
            <input class="form-input education-gpa" type="text" placeholder="GPA">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Major</span>
          <label>
            <input class="form-input education-major" type="text" placeholder="Major">
          </label>
        </div>
        <button class="button" id="submit-education-btn">Submit</button>
      </form>
    </div>
  </div>

  <!-- Modal for adding experience -->
  <div class="reveal" id="add-experience-modal" data-reveal>
    <div class="grid-x">
      <div class="medium-12 cells">
        <h3>Add Experience</h3>
      </div>
      <form class="grid-x" action="#" id="add-experience-form">
        <div class="medium-12 cells">
          <span>Title</span>
          <label>
            <input class="form-input experience-title experience-add" type="text" placeholder="Title">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Description</span>
          <label>
            <textarea class="form-input experience-desc experience-add" type="text" placeholder="Description"></textarea>
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Organization</span>
          <label>
            <input class="form-input experience-org experience-add" type="text" placeholder="Organization">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Location</span>
          <label>
            <input class="form-input experience-location experience-add" type="text" placeholder="Location">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Skills</span>
          <label>
            <input class="form-input experience-skills experience-add" type="text" placeholder="Skills">
          </label>
        </div>
        <button class="button" id="submit-experience-btn">Submit</button>
        <div id="submit-experience-fail-msg" class="error-msg"></div>
      </form>
    </div>
  </div>

  <!-- Separate modal for updating experience -->
  <div class="reveal" id="update-experience-modal" data-reveal>
    <div class="grid-x">
      <div class="medium-12 cells">
        <h3>Update Experience</h3>
      </div>
      <form class="grid-x" action="#" id="add-experience-form">
        <div class="medium-12 cells nodisplay">
          <span>ID</span>
          <label>
            <input class="form-input experience-id experience-update" type="text">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Title</span>
          <label>
            <input class="form-input experience-title experience-update" type="text" placeholder="Title">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Description</span>
          <label>
            <textarea class="form-input experience-desc experience-update" type="text" placeholder="Description"></textarea>
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Organization</span>
          <label>
            <input class="form-input experience-org experience-update" type="text" placeholder="Organization">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Location</span>
          <label>
            <input class="form-input experience-location experience-update" type="text" placeholder="Location">
          </label>
        </div>
        <div class="medium-12 cells">
          <span>Skills</span>
          <label>
            <input class="form-input experience-skills experience-update" type="text" placeholder="Skills">
          </label>
        </div>
        <button class="button" id="update-experience-btn">Submit</button>
        <div id="update-experience-fail-msg" class="error-msg"></div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  $("#updateProfileForm").submit(function(e) {
    e.preventDefault();
    $("#submit-success").text("")
    $("#submit-fail").text("")
    var email = $(".email-input").first().val()
    var name = $(".pw-input").first().val()
    var phone = $(".phone-input").first().val()
    var website = $(".website-input").first().val()
    var biography = $(".bio-input").first().val()
    var skills = $(".skills-input").first().val().split(",")
    data = {
      email: email,
      name: name,
      phone: phone,
      website: website,
      biography: biography,
      skills: skills
    }
    $.ajax({
      type:"PUT",
      url: "/users/{{ data.userID }}",
      dataType: "json",
      data: JSON.stringify(data),
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $(".form-input").toggleClass("form-input-error", false);
      $(".error-msg").text("");
      $("#submit-success").text("Update successful!");
      console.log(result);
    }).fail(function(result, statusCode, error) {
      console.log(result);
      console.log(statusCode);
      console.log(error);
      $("#submit-fail").text("Update failed - Please log off and log back on")

    });
  });

  $(".job-delete").click(function() {
    job_id = $(this).attr("job-id")
    data = {
      job_id: job_id
    }
    $.ajax({
      type: "DELETE",
      url: "/jobs/delete",
      dataType: "json",
      data: JSON.stringify(data),
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("div[jobcontained=" + job_id + "]").html("Deleted")
    }).fail(function(result, statusCode, error) {
      $("div[jobcontained=" + job_id + "]").html("<div class='fail-text'>Failed to delete job</div>")
    })
  });

  var updateEducationList = function() {
    $.ajax({
      type:"GET",
      url: "/education/currentUserEducation",
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#education-list").html(result["template"])
    }).fail(function(result, statusCode, error){
      console.log("Failed to fetch education: " + error)
    })
  }

  var updateExperienceList = function() {
    $.ajax({
      type:"GET",
      url: "/experience/currentUserExperience",
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#experience-list").html(result["template"])
    }).fail(function(result, statusCode, error){
      console.log("Failed to fetch experience: " + error)
    })
  }

  $("#submit-education-btn").click(function(e) {
    e.preventDefault()
    name = $(".education-name").first().val()
    level = $(".education-level").first().val()
    gpa = parseFloat($(".education-gpa").first().val())
    major = $(".education-major").first().val()
    if (name.length==0) {
      $(".education-name").toggleClass("form-input-error", true)
      return false;
    }
    else if (gpa == NaN) {
      $(".education-gpa").toggleClass("form-input-error", true)
      return false;
    }

    edudata = {
      "school_name": name,
      "level": level,
      "gpa": gpa,
      "major": major
    }
    $.ajax({
      type: "POST",
      url: "/users/education",
      dataType: "json",
      data: JSON.stringify(edudata),
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#add-education-modal").foundation("close")
      $("#add-education-form").find("input,textarea").val("")
      updateEducationList();
    }).fail(function(result, statusCode, error) {
      console.log("Could not add education: " + error)
    })
  })

  $("#submit-experience-btn").click(function(e) {
    e.preventDefault()
    title = $(".experience-title.experience-add").first().val()
    description = $(".experience-desc.experience-add").first().val()
    organization = $(".experience-org.experience-add").first().val()
    expLocation = $(".experience-location.experience-add").first().val()
    skills = $(".experience-skills.experience-add").first().val().split(",")
    if (title.length == 0) {
      $(".experience-add.experience-title").toggleClass("form-input-error", true)
      return false
    }
    data = {
      title: title,
      description: description,
      organization: organization,
      location: expLocation,
      skills: skills
    }
    $.ajax({
      type: "POST",
      url: "/users/experience",
      dataType: "json",
      data: JSON.stringify(data),
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#add-experience-modal").foundation("close")
      $("#add-experience-form").find("input,textarea").val("")
      updateExperienceList();
    }).fail(function(result, statusCode, error) {
      $("#submit-experience-fail-msg").text(error)
    })
    return false
  })

  $(document).on("click", ".delete-experience-btn", function() {
    expId = $(this).attr("experience-id")
    $.ajax({
      type: "DELETE",
      url: "/users/experience/"+expId,
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      updateExperienceList();
    }).fail(function(result, statusCode, error) {
      console.log("Couldn't delete experience: " + error)
    })
  })

  $(document).on("click", ".update-experience-btn", function () {
    expId = $(this).attr("experience-id")
    $.ajax({
      type: "GET",
      url: "/users/experience/" + expId
    }).done(function(result, statusCode) {
      console.log(result.data.title)
      $(".experience-id.experience-update").val(result.data.id)
      $(".experience-title.experience-update").val(result.data.title)
      $(".experience-desc.experience-update").val(result.data.description)
      $(".experience-org.experience-update").val(result.data.organization)
      $(".experience-location.experience-update").val(result.data.location)
      $(".experience-skills.experience-update").val(result.data.skills.join(","))
      $("#update-experience-modal").foundation("open")
    }).fail(function(result, statusCode, error) {
      console.log("Failed to retrieve experience: " + error)
    })
  })

  $("#update-experience-btn").click(function(e) {
    e.preventDefault()
    expId = $(".experience-id.experience-update").first().val()
    title = $(".experience-title.experience-update").first().val()
    description = $(".experience-desc.experience-update").first().val()
    organization = $(".experience-org.experience-update").first().val()
    expLocation = $(".experience-location.experience-update").first().val()
    skills = $(".experience-skills.experience-update").first().val().split(",")
    if (title.length == 0) {
      $(".experience-update.experience-title").toggleClass("form-input-error", true)
      return false
    }
    data = {
      title: title,
      description: description,
      organization: organization,
      location: expLocation,
      skills: skills
    }
    $.ajax({
      type: "PUT",
      url: "/users/experience/" + expId,
      dataType: "json",
      data: JSON.stringify(data),
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#update-experience-modal").foundation("close")
      updateExperienceList();
    }).fail(function(result, statusCode, error) {
      $("#submit-experience-fail-msg").text(error)
    })
    return false
  })
</script>
{% endblock %}

{% block postscripts %}
<script>
  updateEducationList();
  updateExperienceList();
</script>
{% endblock %}