{% extends "partials/frame.html" %}
{% block body %}
<form action="#" id="searchJobForm">
  <div class="grid-x">
    <h1 class="medium-offset-1 medium-11 cells">Search Job Postings</h1>
  </div>
  <div class="grid-x">
    <div class="medium-offset-1 medium-5 cells">
      Add filters:
      <br/>
      <label>
        <input class="form-input" id="filter-query" type="text" placeholder="Filter">
      </label>
    </div>
    <div class="medium-offset-1 medium-5 cells">
      Usage (click for more info):
      <br/>
      <a href="#" data-open="subject-modal">&lt;subject&gt;</a>
      <a href="#" data-open="verb-modal">&lt;verb&gt;</a>
      <a href="#" data-open="object-modal">&lt;object&gt;</a>
      <br/>
      For example: location contains Chicago
    </div>
    <div class="medium-offset-1 medium-11 cells">
      <button type="button" class="button" id="add-filter-btn" onclick="addFilter()">Add Filter</button>
    </div>
    <div class="medium-offset-1 medium-11 cells grid-x" id="filter-list"></div>
  </div>
</form>
<div class="medium-offset-1 medium-11 cells">
  <button type="button" class="button" id="submit-search-btn">Search</button>
</div>

<div id="job-search-results"></div>

<!-- subject modal -->
<div id="subject-modal" class="reveal" data-reveal>
  Valid subjects are:
  <ul>
    <li>title</li>
    <li>organization</li>
    <li>salary</li>
    <li>rate</li>
    <li>location</li>
    <li>tags</li>
  </ul>
</div>

<!-- verb modal -->
<div id="verb-modal" class="reveal" data-reveal>
  Valid verbs are:
  <ul>
    <li>&lt;</li>
    <li>&gt;</li>
    <li>=</li>
    <li>contains</li>
  </ul>
  Note that some verbs will not work with some subjects, i.e. greater than or less than does not work with location.
</div>

<!-- object modal -->
<div id="object-modal" class="reveal" data-reveal>
  Valid objects are all objects you wish to test against.
</div>

<!-- job apply modal -->
<div class="reveal" id="job-apply-modal" data-reveal>
  <div class="grid-x">
    <div class="medium-12 cells">
      <h3>Apply For Job</h3>
    </div>
    <form class="grid-x" action="#" id="add-experience-form">
      <div class="medium-12 cells nodisplay">
        <span>ID</span>
        <label>
          <input class="form-input" id="job-apply-id" type="text">
        </label>
      </div>
      <div class="medium-12 cells">
        <span>Cover Letter</span>
        <label>
          <textarea class="form-input cover-letter" type="text" placeholder="Cover Letter"></textarea>
        </label>
      </div>
      <button class="button" id="submit-application-btn">Submit</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  function compileSearchQuery(q) {
    // Coalesce adjacent spaces into one
    q = q.replace(/\s\s+/g, " ");

    // Split ALL the words!
    var words = q.split(" ");
    if (words.length < 3) {
      console.log("Query too short");
      return null;
    }

    // Table of allowed verbs for each subject
    var allowedVerbs = {
      "title": ["=", "contains"],
      "organization": ["=", "contains"],
      "salary": [">", "<"],
      "rate": [">", "<"],
      "location": ["=", "contains"],
      "tags": ["contains"]
    };

    var id = function(x) { return x; }
    var int = function(x) {
      var r = parseInt(x);
      return isNaN(r) ? null : r;
    }

    var fns = {
      "title": id,
      "organization": id,
      "salary": int,
      "rate": int,
      "location": id,
      "tags": id
    };

    var subject = words[0];
    var verb = words[1];
    var object = words.slice(2).join(" ");

    if (!(subject in allowedVerbs)) {
      console.log("Invalid subject: " + subject);
      return null;
    }

    if (!allowedVerbs[subject].includes(verb)) {
      console.log("Invalid subject/verb: " + subject + " " + verb);
      return null;
    }

    object = fns[subject](object);
    if (object == null) {
      console.log("Invalid type for object");
      return null;
    }

    return {
      "subject": subject,
      "verb": verb,
      "object": object
    };
  }

  var addFilter = function () {
    filterQuery = $("#filter-query").val()
    compiled = compileSearchQuery(filterQuery)
    if (compiled == null) {
      $("#filter-query").toggleClass("form-input-error", true)
      return false
    }
    else {
      $("#filter-query").toggleClass("form-input-error", false) 
    }
    $("#filter-list").append(
      "<div class='medium-10 cells filter-entry'>" +
        filterQuery + 
        " <a class='delete-filter'>X</a>" + 
      "</div>"
    )
    $("#filter-list").children().eq(-1).attr("filter-json", JSON.stringify(compiled))
    $("#filter-query").val("")
  }

  $(document).on("click", ".delete-filter", function() {
    $(this).parent().remove()
  })

  var updateJobList = function() {
    query = []
    $(".filter-entry").each(function(index, elem) {
      query.push($(this).attr("filter-json"))
    })
    jsonQuery = "{\"query\":[" + query.join(", ") + "]}"
    console.log(jsonQuery)
    // title = $(".title-input").first().val()
    // organization = $(".organization-input").first().val()
    // salary_min = parseInt($(".min-salary-input").first().val())
    // salary_max = parseInt($(".max-salary-input").first().val())
    // rate_min = parseInt($(".min-rate-input").first().val())
    // rate_max = parseInt($(".max-rate-input").first().val())
    // job_location = $(".location-input").first().val()
    // tags = $(".tags-input").first().val()
    // if (title.length > 0) {
    //   data["title"] = title
    // }
    // if (organization.length > 0) {
    //   data["organization"] = organization
    // }
    // if (salary_min) {
    //   data["salary_min"] = salary_min
    // }
    // if (salary_max) {
    //   data["salary_max"] = salary_max
    // }
    // if (rate_min) {
    //   data["rate_min"] = rate_min
    // }
    // if (rate_max) {
    //   data["rate_max"] = rate_max
    // }
    // if (job_location.length > 0) {
    //   data["location"] = job_location
    // }
    // if (tags.length > 0) {
    //   data["tags"] = tags.split(",")
    // }
    $.ajax({
      type: "POST",
      url: "/jobs/handleQuery",
      dataType: "json",
      data: jsonQuery
    }).done(function(result, statusCode) {
      console.log(result)
      $("#job-search-results").html(result["template"])
    }).fail(function(result, statusCode, error){
      console.log("Failed to search")
    })
  }
  $("#searchJobForm").submit(function(e) {
    e.preventDefault();
    addFilter();
    return false;
  })

  $("#submit-search-btn").click(function() {
    updateJobList()
    return false
  })

  $(document).on("click", ".apply-for-job-btn", function() {
    jobId = $(this).attr("job-id")
    $("#job-apply-id").val(jobId)
    $("#job-apply-modal").foundation("open")
  })

  $("#submit-application-btn").click(function(e) {
    e.preventDefault()
    jobId = $("#job-apply-id").val()
    coverLetter = $(".cover-letter").first().val()
    $.ajax({
      type: "POST",
      url: "/jobs/" + jobId + "/applications",
      dataType: "json",
      data: JSON.stringify({
        cover_letter: coverLetter
      }),
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#job-apply-modal").foundation("close")
    }).fail(function(result, statusCode, error) {
      console.log("Failed to submit application: " + error)
    })
  })
</script>

{% endblock %}