{% extends "partials/frame.html" %}
{% block body %}

<div class="grid-x" id="application-container"></div>

<script>
  var populateApplications = function() {
    $.ajax({
      type: "GET",
      url: "/jobs/{{ jobId }}/viewApplications",
      headers: {
        "Authorization": "Basic " + getCookie("authToken")
      }
    }).done(function(result, statusCode) {
      $("#application-container").html(result["template"])
    }).fail(function(result, statusCode, error) {
      console.log("Could not fetch applications: " + error)
    })
  }

  // $(document).on("click", ".generate-resume-btn", function() {
  //   jobId = $(this).attr("job-id")
  //   userId = $(this).attr("user-id")
    
  // })
</script>

{% endblock %}

{% block postscripts %}
<script>
  populateApplications();
</script>
{% endblock %}